@(movies: Seq[models.dao.Movie])(implicit lang: Lang, auth: AuthInfo)

@import views.helpers.I18nSupport._

@layout.default("viewer", Option(auth)) {
  <script src="@routes.Assets.at("/javascripts/masonry.pkgd.min.js")"></script>
<link type="text/css" rel="stylesheet" href="@routes.Assets.at("stylesheets/viewer.css")" />
  <script>
    $(function($){
      $('#container').masonry({
        itemSelector: '.contents',
        columnWidth: 330,
        isFitWidth: true
      });
    });
  </script>
  @for(movie <- movies){
    <div class="contents">
      <span class="title">@movie.title</span>
      <video src="@movie.movie_url" controls preload width="320px" height="240px">
        <p>動画を再生するにはvideoタグをサポートしたブラウザが必要です。</p>
      </video>
      <div class="explain">@movie.information</div>
    </div>
  }
}