@(message: String)

<html>
  <head>
    <style>
      div.contents {
        border: 1px solid;
        margin: 0px;
        padding: 0px;
        width: 320px;
        height: 480px;
        background-color: #ffffd1;
      }
      div.explain {
        margin: 10px;
        width:
      }
    </style>
  </head>
  <body>
    <div class="contents">
      <span class="title">動画タイトル</span>
      <video src="https://s3-ap-northeast-1.amazonaws.com/cyberz/zoom/penguin.mp4" controls preload width="320px" height="240px">
        <p>動画を再生するにはvideoタグをサポートしたブラウザが必要です。</p>
      </video>
      <div class="explain">説明文説明文説明文</div>
    </div>
  </body>
</html>
